@media all and (min-width: 640px) {
    .Calculations {
        padding: 5rem 0;
        position: absolute;
        background-color: white;
        left: 40rem;
        right: 40rem;
        top: 20rem;

        border: '#979799';
        border-style: solid;
        border-width: 1px;

        margin-left: auto;
        margin-right: auto;
        width: 40rem;
        height: 35rem;
    }

    .Calculations form {
        margin: 0 auto;
        max-width: 30rem;
    }

    .Calculations h3 {
        padding-bottom: 5rem;
    }

    .Calculations button {
        margin-bottom: 2rem;
    }
	
	.path_cell {
		color: blue;
		width: auto;
	}
}